  .content {
      margin-left: 46%;
      padding: 20px;
      height: 100vh;
      background-color: var(--primary-color);
      padding-left: 3rem;
      padding-right: 3rem;
      color: var(--secondary-color);
    }
    

    .header {
      text-align: center;
      margin-bottom: 20px;
      font-size: 1.4rem;
      position: relative; /* Add this to position the ::before pseudo-element */
  }
  
  .header::before {
      content: '';
      border-bottom: 1px solid var(--secondary-color);
      padding: 0 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      transition: width 0.3s, padding 0.3s; 
  }
  
  .header:hover::before {
      width: 12%; 
      padding: 0;  
  }
  
  .header:active {
      background: var(--text-color);
      color: var(--text-color-dark);
      transition: none; 
  }

  .content_box{
    width: 85%;
    margin: auto;
  }

    .para{
      text-align: left;
      text-align: justify;
      font-weight: 470;

    }
    
    .experience .job {
      margin-bottom: 20px;
    }
    
    .experience_box {
      border-left: 3px solid var(--text-color);
      padding-left: 15px;
      height: 250px;
      margin-bottom: 20px;
      
    }

    .experience_box:hover {
      border-left: 3px solid var(--date);
    }
    
    .experience_item {
      margin-bottom: 10px;
    }
    
    .header_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .sub_header {
      font-size: 20px;
      font-weight: 600;
      color: var(--text-color);
      margin-bottom: 0px;
    }
    
    
    .company_name {
      font-size: 16px;
      font-style: italic;
      color: var(--date);
      margin-top: 0px;
    }
    
    .experience_box ul {
      padding-left: 20px;
      color: var(--text-color);
    }
    
    .date {
      font-size: 14px;
      color: var(--date);
      padding-top: 10px;
    }
    