:root {
  --primary-color: #ffffff;
  --secondary-color: #2d3436;
  --accent-color: #3498db;
  --text-color: #2d3436;
  --text-light: #636e72;
  --border-color: #dfe6e9;
  --hover-color: #f5f6fa;
  --shadow-color: rgba(45, 52, 54, 0.05);
}

[data-theme='dark'] {
  --primary-color: #2d3436;
  --secondary-color: #f5f6fa;
  --accent-color: #74b9ff;
  --text-color: #f5f6fa;
  --text-light: #b2bec3;
  --border-color: #636e72;
  --hover-color: #404b4f;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

body{
  margin: 0;
}