:root {
  --primary-color: #efeeee;
  --secondary-color: #1f1f1f;
  --text-color: #000;
  --text-color-dark: #fff;
  --boarder-before-dark:rgb(56, 42, 42);
  --boarder-after-dark: lightgray;
  --date: #999;
  --contact-color:  rgb(56, 53, 53);
}

[data-theme="dark"] {
  --primary-color: #1f1f1f;
  --secondary-color: #d4d0d0;
  --text-color: #fff;
  --text-color-dark: #000;
  --boarder-before-dark: lightgray;
  --boarder-after-dark: rgb(56, 42, 42);
  --date: #b0b0b0;
  --contact-color: #d5cccc;
}